{% extends "libapp/MainBase.html" %}

{% block title %}MAC Library - Available Books{% endblock %}

{% block pageName %}available books{% endblock %}

{% block content %}
    <br/>
    <a href="/"> Back to Homepage</a>
    <hr/>
    <div id="links-div">
      <table class="table table-striped">
         <thead>
            <tr>
                <th>title</th>
                <th>public year</th>
            </tr>
            </thead>
            <tbody>
            {% for book in book_list %}
                    <tr>
                        <th><a href="/libapp/details/{{ book.id }}">{{ book }}</a></th>
                        <th>{{ book.pubyr }}</th>
                    </tr>
            {% empty %}
            {% endfor %}
            </tbody>
    </table>
    </div>
{% endblock %}