{% extends "libapp/MainBase.html" %}

{% block title %}MAC Library - Available DVD{% endblock %}

{% block pageName %}available DVD{% endblock %}

{% block content %}
    <br/>
    <a href="/"> Back to Homepage</a>
    <hr/>
    <div id="links-div">
    <table class="table table-striped">
         <thead>
            <tr>
                <th>title</th>
                <th>public year</th>
            </tr>
            </thead>
            <tbody>
            {% for dvd in dvd_list %}
                    <tr>
                        <th><a href="/libapp/details/{{ dvd.id }}">{{ dvd }}</a></th>
                        <th>{{ dvd.pubyr }}</th>
                    </tr>
            {% empty %}
            {% endfor %}
            </tbody>
    </table>
    </div>
{% endblock %}