{% extends "libapp/MainBase.html" %}

{% block title %}MAC Library - Search{% endblock %}

{% block pageName %}Search{% endblock %}

{% block content %}
    <br/>
    <a href="/"> Back to Homepage</a>
    <hr/>
    <div id="links-div">
      <form action="/libapp/searchresult/"  method='post'>
            {% csrf_token %}
            <table class="tab_input">
                {% for field in form %}
                    <tr>
                        <td class="input-group text-left"><span class="input-group-addon">{{ field.label_tag }}</span>
                            <span class="input-group-addon">{{ field }}</span>
                        </td>
                        <td class="col-md-5">{{ field.errors }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="text-right"><input type="submit" value="Search"></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>

{% endblock %}